
.rowAddjobpost{
	text-align: center;
	margin-top: 15%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}

.rowAddjobpost h3{
	background: transparent;
	font-weight: bold;
	color: #777;
}

.rowAddjobpost p{
	background: transparent;
	color: #BDBDBD;
}


.glyphicon.glyphicon-wrench {
    font-size: 75px;
}